.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  display: flex;
  justify-content: center;
}
.body-container {
  max-width: 100vw;
  height: 100vh;
}
.dashboard-container {
  width: 80vw;
  height: 95vh;
  background-color: white;
  border-radius: 20px;
}

.main-container {
  height: 90%;
  padding: 2rem 2rem 0rem 2rem;
}

.footer {
  height: 10%;
  background-color: #ececec;
  font-family: "Source Code Pro", monospace;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header {
  height: 15%;
  display: flex;
  padding-right: 30px;
}


.horLine{
  height: 2px;
  background-color: black;
  padding-right: 119px;
  text-align: end;
  margin-right: 30px;
  margin-left: 30px;
}


.title {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-right: 10px;
  align-items: flex-end;
  text-align: end;
  /* border-bottom: 2px solid black; */
}
.log-out-container {
  width: 65%;
  /* border-bottom: 2px solid black; */
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.logo-container {
  width: 10%;
}
.logo {
  width: 125%;
  margin-top: 5px;
}
.log-out-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2em;
}
.content-and-navbar-cont {
  height: 85%;
  width: 100%;
  display: flex;
}
.navbar {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content {
  width: 70%;
  height: 100%;
  padding: 20px 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: black;
}
