/**********************
Input style
***********************/

.input-title {
  font-family: "poppins", sans-serif;
}

.input-line {
  height: 1.5px;
  width: 100%;
  background-color: black;
  transition: 0.4s;
}

.input-field {
  margin-top: 1rem;
  outline: none;
  width: 75%;
}

.input-field-div {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

/**********************
Buttons
***********************/

.submitButton {
  height: 100%;
  width: 100%;
  background-color: #319b3f;
  color: white;
  border: none;
  border-radius: 14px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  transition: 0.4s;
}

.submitButton:hover {
  background-color: #65c0ce;
}

/******************
Training queue
******************/

.queue {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  /* margin-top: 5%; */
  /* padding: 20px; */
}


h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: #312e2e;
}

h3 {
  font-weight: 400;
}
h4 {
  font-weight: 300;
}

@keyframes navbar-fade-in {
  0% {
    background-color: #F5F5F5;
    color: #B0B0B0;
    font-weight: normal;
  }
  100% {
    color: white;
    background-color: #319b3f;
    font-weight: 600;
  }
}

