/*
The logo in the login page
*/

.login-imag {
  height: 30vh;
  width: auto;
}

.login-icons {
  margin-right: 0.5vh;
  margin-top: 0.5vh;
}

@keyframes dissapear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}