* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

canvas {
  position: fixed;
  z-index: 0;
}

#canvas-back {
  position: fixed;
  z-index: 1;
}

.App {
  text-align: center;
}

.content {
  width: 80%;
}
.login-input-field {
  font-family: "Poppins", sans-serif;
  width: 30vh;
  outline: none;
  color: black;
  border: none;
}
